In [6]:
from src.classes.DataLoader import DataLoader
from src.constants.path import LOAD_DATA_PATH
import pandas as pd
import numpy as np
from src.constants.scheme import COLUMNS

In [2]:
df = DataLoader(LOAD_DATA_PATH).load_data(generate_category=False)

In [4]:
df.category.value_counts()

Series([], Name: category, dtype: int64)

In [7]:
dataframe = pd.read_csv(f"{LOAD_DATA_PATH}transaction-history.csv")
categories = pd.read_csv(f"{LOAD_DATA_PATH}categories.csv")
dataframe = dataframe.rename(columns=COLUMNS)
dataframe['start_date'] = pd.to_datetime(dataframe['start_date'])
dataframe['end_date'] = pd.to_datetime(dataframe['end_date'])
dataframe['origin_amount'] = np.where(dataframe['direction'] == 'IN', dataframe['origin_amount'] * -1, dataframe['origin_amount'])
dataframe['destiny_amount'] = np.where(dataframe['direction'] == 'IN', dataframe['origin_amount'] * -1, dataframe['origin_amount'])
dataframe = dataframe.query("origin_currency == 'EUR'")
dataframe = dataframe.merge(categories, how='left', left_on='beneficiary_name', right_on='beneficiary')

In [9]:
categories

                                     beneficiary    category
0                  Paulo Rafael Alberton Bloemer         NaN
1                                      Woolworth        shop
2    Fernando Cesar Furtado Ballesteros Fincatti         NaN
3                               Basta Pasta Side  restaurant
4                                          EDEKA      market
..                                           ...         ...
151                       Sumup  *Reisner  Hendl         NaN
152                           Vr Bayern Mitte Eg         NaN
153                         Tk Maxx Gmbh & Co.kg        shop
154                      Schum Euroshop Gmbh 292        shop
155                    Lieferando.de Lieferservi  restaurant

[156 rows x 2 columns]